<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Questionnaire</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="container">
    <h1>Study Questionnaire</h1>
    <div id="userinfo" class="card">
      <h2>Participant information</h2>
      <p>Thank you for participating in this experiment! This questionnaire will test your visual perception skills through some simple questions. Please follow the below instructions carefully - <br>
        1. Focus on accuracy and not on speed. There is no time bound , so you can take breaks while solving. However, you have to keep the website open on some tab/window otherwise, your progress will be lost. Also, take sufficient time to solve each question.<br>
        2. Please open this questionnaire on laptop/tablet . Some fonts are small, so, you may miss out if you open on smaller devices. Zoom in on images that appear tiny otherwise, this may affect your accuracy! <br>
        3. Each question follows a particular answer format. Follow the answer format strictly! Check for spelling mistakes while writing.<br>
        4. Try to attempt all the questions. If you do not understand any question, leave it out, there is no penalty. <br> 
        All the best!</p>
      <label>Name: <input id="name"></label><br>
      <label>Entry number: <input id="entry"></label><br>
      <label>Gender:
        <select id="gender">
          <option value="">--select--</option>
          <option>Male</option>
          <option>Female</option>
          <option>Other</option>
          <option>Prefer not to say</option>
        </select>
      </label><br>
      <button id="startBtn">Start questionnaire</button>
    </div>

    <div id="questionArea" class="card hidden">
      <div id="progress">Question <span id="qnum">1</span> / 30</div>
      <div id="promptText"></div>
      <!-- <img id="qimg" src="" alt="question image" style="max-width:400px; display:block; margin:10px 0;"> -->
      <div id="image-container" style="display:none; gap:10px; margin-top:10px;">
        <img id="question-image" src="" alt="Question image" style="max-width:400px; border:2px solid #000;">
        <div id="question-image-pair" style="display:flex; gap:10px;"></div>
      </div>
      
      <textarea id="answer" rows="4" cols="60" placeholder="Type your answer here (plain text)"></textarea><br>
      <button id="prevBtn">Previous</button>
      <button id="nextBtn">Next</button>
      <button id="submitBtn" class="hidden">Submit</button>
    </div>

    <div id="thanks" class="card hidden">
      <h2>Thank you!</h2>
      <div id="result"></div>
    </div>
  </div>

<script src="/static/script.js"></script>
</body>
</html>
